.cart-item {
  width: 100%;
  height: 15rem;
  display: flex;
  position: relative;
  background-color: white;
  border: 0.1rem solid #f2f2f2;
  border-radius: 0.6rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
.cart-item-img {
  flex: 1;
  min-width: 10.5rem;
  min-height: 15rem;
  overflow: hidden;
  margin-right: 0.5rem;
}
.cart-item-img img {
  height: 15rem;
  margin: 0 -50%;
}
.cart-item-content {
  flex: 3;
  padding: 2rem;
}
.cart-item-content-header {
  display: flex;
  justify-content: space-between;
}
.cart-item-title {
  height: 4.8rem;
  overflow: hidden;
  font-size: 1.8rem;
  font-weight: 700;
  margin-right: 0.6rem;
  color: #0097cc;
}
.trash-icon {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
.cart-item-lower-content {
  display: flex;
  align-items: center;
  margin-top: 1.7rem;
}
.incrementer {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1.1rem 1rem;
  border: 0.1rem solid #0097cc;
  border-radius: 0.8rem;
}
.incrementer > p {
  display: block;
  font-size: 1.8rem;
  margin-left: 0.5rem;
  cursor: pointer;
  color: #7f7f7f;
}
.quantity {
  color: #1d1d1b !important;
  cursor: default !important;
}
.cart-item-price {
  margin-left: 1rem;
  font-size: 2.03rem;
  font-weight: 700;
}
.cart-item-price span {
  font-size: 1.35rem;
  margin-left: 0.3rem;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .cart-item-content {
    background-color: #f2f2f2;
  }
  .cart-item-img {
    margin: 0;
  }
}
