 .cart-sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background: white;
  display: block;
  overflow-y: scroll;
  }
  .no-cart {
    display: none;
  }
  .cart-sidebar h5 {
    display: inline;
    margin-left: 1.0rem;
    font-size: 2.3rem;
    font-weight: 700;
  }
  .cart-sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 4rem 1.4rem 4rem;
  }
  .cart-icon-workshops {
    display: flex;
    align-items: center;
  }
  .cart-section {
    padding: 2rem;
  }
  .subtotal {
    margin: 4rem 2rem;
  }
  .subtotal h6{
    color: #7F7F7F;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 125%;
  }
  .subtotal h2 {
    font-size: 4.0rem;
    font-weight: 700;
  }
  .subtotal h2 span {
    font-size: 2.7rem;
    font-weight: 700;
    margin-left: 0.5rem;
  }
  .cart-btn {
    padding: 0rem 2rem;
  }


  @media only screen and (min-width: 768px) {
    .cart-sidebar {
      position: fixed;
      max-width: 38.0rem;
      height: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      background: white;
      padding: 2.9rem 2.0rem 2.0rem 2.0rem;
      box-shadow: -0.1rem -0.2rem 1.6rem rgba(127, 127, 127, 0.25);
      display: block;
      overflow-y: scroll;
      }
    .no-cart {
      display: none;
    }
    .cart-sidebar h5 {
      display: inline;
      margin-left: 1.0rem;
      font-size: 2.3rem;
      font-weight: 700;
    }
    .cart-sidebar-header{
      display: flex;
      align-items: center;
      margin: 0rem 2.0rem 6.0rem 2.0rem;
      padding: 0;
    }
    .cart-sidebar-header .cross-icon {
      margin-left: 8.0rem;
    }
    .subtotal {
      margin-top: 4.0rem;
      margin-bottom: 4.0rem;
    }
    .subtotal h6{
      color: #7F7F7F;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 125%;
    }
    .subtotal h2 {
      font-size: 4.0rem;
      font-weight: 700;
    }
    .subtotal h2 span {
      font-size: 2.7rem;
      font-weight: 700;
      margin-left: 0.5rem;
    }
  }