.footer {
  height: 4rem;
  width: 100%;
  background: rgba(127, 127, 127, 0.1);
  display: flex;
  align-items: center;
}
.footer h6 {
  color: rgba(127, 127, 127, 1);
  margin-left: 4rem;
  font-size: 1.35rem;
  font-weight: 600;
}


@media only screen and (min-width: 768px) {
  .footer {
    height: 8rem;
  }
  .footer h6 {
    margin-left: 8rem;
    font-size: 1.5rem;
  }
}