.navbar {
  background-color: rgb(255, 206, 37);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}
.cart-condition {
  display: flex;
  align-items: center;
}
.cart-condition h6 {
  display: none;
}
.logo img {
  height: 4rem;
  width: 9rem;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .navbar {
    height: 9rem;
  }
  .logo img {
    width: 10.5rem;
    height: 4.699rem;
    cursor: pointer;
  }
  .cart-condition {
    display: flex;
    align-items: center;
    margin-right: 15.7rem;
    cursor: pointer;
  }
  .cart-condition img {
    height: 3.2rem;
    width: 3.2rem;
  }
  .cart-condition h6 {
    display: block;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
