.product-list {
  padding: 1.4rem 2rem 3rem 2rem;
}
.heading h2{
  font-size: 3.2rem;
}
.heading h6 {
  font-size: 1.35rem;
  color: #7F7F7F;
  margin-bottom: 1.8rem;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
}
.load {
  margin-bottom: 5.5rem;
  width: 10rem;
  margin: 0 auto;
}
.load-more {
  border-bottom: 0.2rem solid #0097CC; 
  line-height: 125%;
  font-size: 1.8rem;
  cursor: pointer;
}
.load-more p {
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}


@media only screen and (min-width: 768px) {
  .header-section {
    display: flex;
    width: 100%;
  }
  .list {
    gap: 4rem;
  }
  .product-list {
    flex: 3;
    padding: 6rem 2rem 4rem 0rem;
  }
  .load {
    margin-top: 4rem;
  }
}