.details-page {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
}
.back-section {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.arrow {
  width: 3.2rem;
  height: 3.2rem;
}
.back {
  font-size: 1.35rem;
}
.details-cover-img {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  border-radius: 0.8rem;
}
.details-cover-img img {
  width: 100%;
  min-height: 100%;
}
.details-category {
  width: 4rem;
  height: 4rem;
  background-color: #1d1d1b;
  position: absolute;
  top: 30.2rem;
  left: 30.3rem;
  border-radius: 0.6rem;
  z-index: 1;
}
.details-category img {
  width: 3.2rem;
  height: 3.2rem;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  filter: brightness(0) invert(1);
}
.product-details .date-time-parent {
  display: flex;
  margin-top: 2rem;
}
.product-details .date-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.product-details .date-time {
  display: flex;
  align-items: center;
  font-size: 1.44rem;
  font-weight: 700;
  margin-left: 2.3rem;
}
.product-details .detail-title {
  font-size: 3.6rem;
  color: rgb(0, 151, 204);
  line-height: 120%;
  margin-top: 2rem;
}
.product-details .detail-desc {
  font-size: 1.44rem;
  line-height: 141%;
  margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
  .details-page {
    flex-direction: row;
  }
  .product-details {
    flex: 3;
    margin-top: 6rem;
    margin-right: 2rem;
    margin-bottom: 8rem;
    width: 100%;
  }
  .back-section {
    flex: 1;
    display: flex;
    align-items: center;
    height: 5rem;
    cursor: pointer;
    margin-top: 8rem;
    margin-left: 1.33rem;
  }
  .back-section h6 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .category .arrow {
    margin-left: 0.5rem;
  }
  .product-details .details {
    display: flex;
    justify-content: space-between;
  }
  .product-details .details .content {
    max-width: 62rem;
  }
  .product-details .content-header {
    display: flex;
    align-items: center;
  }
  .product-details .date-time-parent {
    display: flex;
  }
  .product-details .date-icon {
    margin-right: 0.45rem;
  }
  .product-details .date-time {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 2.3rem;
    margin-top: 1.5rem;
  }
  .product-details .detail-desc {
    font-size: 1.8rem;
    line-height: 150%;
  }
  .product-details .detail-title {
    font-size: 6rem;
    color: rgba(0, 151, 204, 1);
    line-height: 120%;
    margin-bottom: 4rem;
  }
  .product-details .price span {
    font-size: 2.3rem;
  }
  .details-cover-img {
    overflow: hidden;
    height: 38.2rem;
    width: 100%;
    margin-bottom: 4rem;
    border-radius: 0.8rem;
  }
  .details-cover-img img {
    width: 100%;
  }
  .product-details .details-category {
    position: static;
    width: 4rem;
    height: 4rem;
    background-color: #1d1d1b;
    bottom: 25rem;
    border-radius: 0.6rem;
  }
  .details-category img {
    width: 3.2rem;
    height: 3.2rem;
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    filter: brightness(0) invert(1);
  }
  .content-header {
    display: flex;
    align-items: center;
    margin-bottom: 2.3rem;
  }
}
