.similar-section {
  padding: 4.3rem 2rem 1.8rem 2rem;
  background-color: #f2f2f2;
  margin-bottom: 0.1rem;
}
.similar-heading {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .similar-section {
    width: 100vw;
    background-color: #f2f2f2;
    padding: 8rem 0rem 8rem 38rem;
    margin-bottom: 0.1rem;
  }
  .similar-heading {
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
  }
  .similar-item {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 4rem;
    line-height: 125%;
  }
  .similar-none {
    display: none;
  }
}
