.ticket {
  margin-left: 4rem;
  margin-right: 2rem;
  height: 32rem;
  box-shadow: 0.1rem 0.2rem 1.6rem rgba(127, 127, 127, 0.25);
  border-radius: 0.8rem;
}
.ticket-heading h5 {
  font-size: 2.3rem;
  margin-left: 4rem;
  margin-top: 5rem;
}
.ticket-price {
  font-size: 4rem;
  margin-left: 4rem;
  margin-top: 2rem;
}
.ticket-price span {
  font-size: 2.3rem;
  margin-left: 0.5rem;
}
.ticket-subtotal {
  color: #7f7f7f;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 13.2rem;
  margin-top: 1rem;
  margin-bottom: 5.2rem;
}

@media only screen and (max-width: 768px) {
  .ticket {
    display: none;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 3;
  }
}
